PORT=3000
DB_HOST=localhost
DB_USERNAME=root
DB_NAME=your-database
DB_PASSWORD=your-db-password
DB_PORT=3306

EMAIL_HOST=smtp.somehost.com
EMAIL_PORT=465
EMAIL_SECURE=true
EMAIL_USER=your-email@yoursite.com
EMAIL_PASSWORD=email-password
EMAIL_FROM="'Your Name' <your-email@yoursite.com>"

DKIM_DOMAIN=yoursite.com
DKIM_SELECTOR=selector
DKIM_PRIVATE_KEY=your-dkim-private-key

CRYPT_SALT=10
JWT_SECRET_KEY=secret545894
JWT_SECRET_REFRESH_KEY=secret34324
TOKEN_EXPIRE_TIME=1h
TOKEN_REFRESH_EXPIRE_TIME=24h

GOOGLE_CLIENT_ID=your-google-client-id
GOOGLE_SECRET=your-google-secret

GEONAMES_USERNAME=username
GEONAMES_URL=http://api.geonames.org/searchJSON

STRIPE_SECRET_KEY=sk_test_51PVGypP32pMqnnzZD3HItwmdLni9ffSEMIU23pvpyXTmiXWTjeoX883DFmKhozTmkCVMRnUDpPgI3yz31SdlBj2200zHCNLnK1