<html>
  <head>
    <title>Account reactivated on CodeLions</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <p>Your account on CodeLions is active again!</p>
    <p>Now you can rent the products.</p>
  </body>
</html>