<html>
  <head>
    <title>Email was changed on CodeLions</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <p>Your email on CodeLions is changed!</p>
    <p>Your verification code is: <b>{{otp}}</b></p>
    <p>If it was not you, please contact us</p>
  </body>
</html>