<html>
  <head>
    <title>Product deleted on CodeLions!</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>Your product
      {{productName}}
      was deleted by Admin. Please, reach out us if you have any questions via
      this email support@gmail.com</p>
  </body>
</html>