<html>
  <head>
    <title>Low rating on CodeLions</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <p>You have received a low rating {{rating}} on CodeLions.</p>
    <p>Please, comply with
      <a href={{rentalRulesLink}}>rental rules</a>, otherwise ability to rent
      products will be restricted.</p>
  </body>
</html>