<html>
  <head>
    <title>Product rejected on CodeLions!</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>Your product
      {{productName}}
      was rejected by admin. Please, reach out us if you have any questions via
      this email support@gmail.com.</p>
  </body>
</html>