<html>
  <head>
    <title>Order sent on CodeLions!</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>Your order#{{orderNumber}}
      was sent by the vendor with tracking number:</p>
    <h4>{{trackingNumber}}</h4>
    <p>Please, confirm receipt of your order in "My Orders" after you pick it up
      from Canada Post.</p>
  </body>
</html>