<html>
  <head>
    <title>Order sent back on CodeLions!</title>
  </head>
  <body>
    <h1>Hello!</h1>
    <p>Your order#{{orderNumber}}
      was sent by the buyer with tracking number:</p>
    <h4>{{trackingNumber}}</h4>
    <p>Please, confirm return of your products back in "My Orders" after you
      pick them up from Canada Post.</p>
  </body>
</html>