<html>
  <head>
    <title>Account deleted on CodeLions</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <p>Your account was deleted by Admin.</p>
    <p>If you have questions - please reach out us via email
      codelions@helpseo.net.</p>
  </body>
</html>