<html>
  <head>
    <title>Stripe error</title>
  </head>
  <body>
    <h1>Hello, Admin!</h1>
    <p>We received an error from Stripe.</p>
    <p>Action: {{action}}</p>
    <p>Parameters: {{parameters}}</p>
    <p>Error message: {{error}}</p>
    <p>Date: {{date}}</p>
  </body>
</html>