<html>
  <head>
    <title>Account suspended on CodeLions</title>
  </head>
  <body>
    <h1>Hello, {{name}}!</h1>
    <p>Your account was suspended by Admin.</p>
    <p>Please contact your administrator to find out why codelions@helpseo.net.</p>
  </body>
</html>