<!DOCTYPE html>
<html>
<head>
  <title>Welcome to CodeLions!</title>
</head>
<body>
  <h1>Welcome, {{name}}!</h1>
  <p>Thank you for registering with us.</p>  
  <p>Your verification code is: <b>{{otp}}</b></p>
  <p>If you did not request this verification, please ignore this email.</p>
</body>
</html>