<html>
  <head>
    <title>Verification on CodeLions</title>
  </head>
  <body>
    <h1>Congratulations, {{name}}!</h1>
    <p>You have successfully verified your email.</p>
    <p>Now you can start using our service.</p>
  </body>
</html>